<h2 mat-dialog-title>New Query</h2>
<mat-dialog-content class="mat-typography">
  <div id="jsoneditor"></div>

</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-button (click)="saveAndClose()">Save</button>
<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>