/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e1e1e1;}

.container {
    
    padding: 1em;

    mat-form-field {
      margin-left: 1em;
    }
}

table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.pointer {
    cursor: pointer;
}

.cdk-overlay-pane{
  width: unset !important;
  height: unset !important;
  max-width: 100% !important;
}

.mat-dialog-container{
  max-width: 100%;
  max-height: 100% !important;
  resize: both;
}

#jsoneditor {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 250px;
}

.small-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top: 3px solid #000;
  border-radius: 50%;
  animation: small-spinner-spin 0.8s linear infinite;
}

dialog-show-response mat-dialog-content {
  max-width: 100%;
  height: calc(100% - 10em);
}