<div class="container">

    <form [formGroup]="searchForm" novalidate (ngSubmit)="search()">
        <mat-card>
            <mat-card-content>
                <div class="container">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>NIF / Pasaporte</mat-label>
                        <input matInput placeholder="41403498W" formControlName="nifPas">
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Entorno</mat-label>
                        <mat-select formControlName="environment" required>
                            <mat-option *ngFor="let environment of formData.environments" [value]="environment">
                                {{environment.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                        
                </div>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" type="submit">Buscar</button>
            </mat-card-actions>
        </mat-card>
    </form>

    <div style="margin-top: 1em;">
        <mat-card>
            <mat-card-content>
                <button mat-raised-button color="secondary" type="button" (click)="resetQueries()"><mat-icon>delete</mat-icon></button>
                <mat-icon matSuffix (click)="importFileInput.click()">upload</mat-icon>
                <input hidden (change)="importQueriesFromFile($event)" #importFileInput type="file" accept=".txt,.json">
                
                <mat-icon matSuffix (click)="exportQueriesToFile()">download</mat-icon>

                <button mat-raised-button color="secondary" type="button" (click)="newQueryDialog()"><mat-icon>add</mat-icon></button>
                
                <table #queriesTable mat-table [dataSource]="queriesView" class="full-width-table">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let row">{{row.parsedName()}}</td>
                    </ng-container>

                    <ng-container matColumnDef="method">
                        <th mat-header-cell *matHeaderCellDef>Method</th>
                        <td mat-cell *matCellDef="let row">{{row.getMethod()}}</td>
                    </ng-container>

                    <ng-container matColumnDef="url">
                      <th mat-header-cell *matHeaderCellDef>Url</th>
                      <td mat-cell *matCellDef="let row" [matTooltip]="row.parsedUrl()" matTooltipPosition="after">{{row.parsedUrl()}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="body">
                      <th mat-header-cell *matHeaderCellDef>Body</th>
                      <td mat-cell *matCellDef="let row">{{row.parsedBody()}}</td>
                    </ng-container>
                    <ng-container matColumnDef="response">
                        <th mat-header-cell *matHeaderCellDef>Respuesta</th>
                        <td mat-cell *matCellDef="let row">{{row.response}}</td>
                      </ng-container>
                
                    <ng-container matColumnDef="ok">
                      <th mat-header-cell *matHeaderCellDef>OK</th>
                      <td mat-cell *matCellDef="let row">
                          <mat-spinner *ngIf="row.response === 'Loading...'" mode="indeterminate" diameter="25"></mat-spinner>
                          <mat-icon *ngIf="row.ok" class="mat-primary" (click)="openDialog(row)">check_circle</mat-icon>
                          <mat-icon *ngIf="row.ok === false" class="mat-warn" (click)="openDialog(row)">cancel</mat-icon>
                          <mat-icon *ngIf="row.response && row.response !== 'Loading...'" (click)="copyToClipboard(row)" class="pointer" matTooltip="Copy!">file_copy</mat-icon>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-card-content>
        </mat-card>
    </div>

</div>
